<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @administrador.login %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @administrador.senha %>
</p>

<%= link_to 'New Admin', new_administrador_path%> |
<%= link_to 'Edit', edit_administrador_path(@administrador) %> |
<%= link_to 'Log Out', logins_sair_path %> |
<%= link_to 'Delete Profile', administrador_path(@logado.id.to_s),
            method: :delete,
            data: { confirm: 'Are you sure?' },id: (@logado.id.to_s) %>
